/* @import './base.css'; */

body {
    background-color: black;
}

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

  a, li {
    list-style: none;
    text-decoration: none;
  }
  